<div class="panel" ng-class="{true: 'alert-danger', false: 'alert-info'}[lastUpdate.state == 'red']">

    <div class="global-info" ng-class="{true: 'alert-danger'}[lastUpdate.state == 'red']">
        Last update: {{infos.lastUpdateTime | date:'medium' }}
    </div>

    <div ng-click="options=!options">{{ options ? 'hide options' : 'show options' }}</div>
    <div options ng-show="options"></div>

    <div class="panel-body">
        <div ng-repeat="group in infos.groups | orderBy:'orderScore'"
             class="check-group panel"
             ng-show="group.checks.length"
             group>
        </div>
    </div>
</div>