.check-group {
    position: relative;
    display: table;
    width: 100%;
}

.check-group > .panel-body {
    padding: 0;
    margin: 0;
    display: table-row;
}

.stage-info {
    width: 6em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.checks {
    display: table-cell;
    padding: 20px 10px 0 0;
}

.check {
    display: inline-block;
    margin-left: .5em;
    padding: .5em;
    text-align: center;
}

.panel-content-left {
    float: left;
    max-width: 320px;
}

.panel-content-right {
    float: left;
    margin: 5px 0 5px 5px;
}

.check.running {
    box-shadow: 0 0 22px;
}

.alert-disabled {
    background-image: linear-gradient(to bottom, #E0E0E0 0, #B6B6B6 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
    color: #686868;
}

.check-name {
    font-weight: bold;
}

.global-info {
    position: absolute;
    top: 1px;
    right: 15px;
    z-index: 1;
}

.team-label {
    margin-right: 15px;
}
