<!DOCTYPE html>
<html lang="en" ng-app="dash" ng-controller="dashcontroller">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="dash.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- here for glow-animation (running jobs) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-sanitize.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-resource.min.js"></script>
    <!-- here for date formatting (last updated)-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.10/angular-locale_de-de.min.js"></script>

    <script src="dash.js"></script>
</head>
<body>

<div class="panel" ng-class="{true: 'alert-danger', false: 'alert-info'}[lastUpdate.state == 'red']">
    <div class="global-info" ng-class="{true: 'alert-danger'}[lastUpdate.state == 'red']">Last update: {{ infos.lastUpdateTime | date:'medium' }}</div>

    <div class="panel-body">
        <div ng-repeat="group in infos.groups | orderBy:'orderScore'" class="check-group panel">
            <div class="panel-body">
                <div class="stage-info {{ groupClass(group) }}">
                    <div class="check-name">{{ group.name }}</div>
                    <div>{{group.info}}</div>
                </div>
                <div class="checks">
                    <div ng-repeat="check in group.checks | orderBy:[checkOrder, 'name']"
                         class="panel check {{ classForState(check.state) }}"
                         ng-class="{'running': check.running}" title="{{check.info}}">

                        <div class="panel-content-left">
                            <!-- link if specified, div if not -->
                            <a ng-show="check.link" href="{{ check.link }}" target="_blank">
                                <div class="check-name">{{ check.name }}</div>
                                <div ng-bind-html="check.info | limitTo : 25"></div>
                            </a>

                            <div ng-hide="check.link">
                                <div class="check-name">{{ check.name }}</div>
                                <div ng-bind-html="check.info | limitTo : 25"></div>
                            </div>
                        </div>

                        <div class="panel-content-right" ng-if="check.iconSrc">
                            <img src="{{check.iconSrc}}" width="30" height="30"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <label class="team-label">
        <input type="checkbox" ng-model="config.aggregate" ng-click="loadInfos()"/> aggregate green checks
    </label>
    <label class="team-label">
        <input type="checkbox" ng-model="config.aggregateDuplicated" ng-click="loadInfos()"/> aggregate duplicated checks
    </label>
    <label class="team-label">
        <input type="checkbox" ng-model="config.hue.enabled" ng-click="loadInfos()"/> hue
        <div ng-show="config.hue.enabled">
            ip <input type="text" size="12" ng-model="config.hue.ip">
            key <input type="text" size="12" ng-model="config.hue.key">
            light# <input type="text" size="1" ng-model="config.hue.light">
        </div>
    </label>
    <label ng-repeat="team in teams" class="team-label">
        <input type="checkbox" ng-model="config.teams[team]" ng-click="loadInfos()"/> {{ team }}
    </label>
</div>
</body>
</html>
