<div>
    <label class="team-label">
        <input type="checkbox" ng-model="config.showEmptyGroups" ng-click="loadInfos()"/> show empty groups
    </label>
    <label class="team-label">
        <input type="checkbox" ng-model="config.aggregateDuplicated" ng-click="loadInfos()"/> aggregate duplicated
        checks
    </label>
    <label class="team-label">
        <input type="checkbox" ng-model="config.hue.enabled" ng-click="loadInfos()"/> hue
        <div ng-show="config.hue.enabled">
            ip <input type="text" size="12" ng-model="config.hue.ip">
            key <input type="text" size="12" ng-model="config.hue.key">
            light# <input type="text" size="1" ng-model="config.hue.light">
        </div>
    </label>
    <label ng-repeat="team in teams" class="team-label">
        <input type="checkbox" ng-model="config.teams[team]" ng-click="loadInfos()"/> {{ team }}
    </label>
</div>